/* SITE */

* {
box-sizing: border-box;
text-decoration: none;
color: black;
font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0px;
}
/* CABEÇALHO DO SITE */

.cabecalho {	
padding: 3%;
border: 3px solid white;
border-radius:0px 0px 20px 20px;
background: BLACK;
}
.cabecalho_logo {
height: 20px;
vertical-align: text-bottom;
}

.cabecalho_item {
padding: 3%;
text-decoration: none;
color: #ff4069;
}

.cabecalho_item_selecionado {
padding: 3%;
text-decoration: none;
color: #ff4069;
border: 3px solid #ff4069;
border-radius: 10px;
background: white;
}

/* CONTEÚDO DO SITE */

.conteudo {
background-color: black;
padding: 40px;
text-align: justify;
}

h1 {
color: #ff4069;
}
p{
    color: white;
}
h3 {
color: #ff406991;
}

.coiso {
padding: 3%;
border: 3px solid red;
border-radius: 10px;
text-align: center;
}

.cadastro_campo {
padding: 2%;
background: white;
border: 3px solid #ff4069;
border-radius: 10px;
color: black;
}

.cadastro_botao {
background: white;
border: 3px solid #ff4069;
border-radius: 10px;
}
